.register-page{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    color: #d6d1d1;
    font-family: Lexend;
}
.register-page-wrapper{
    color: inherit;
    width: 70vw;
    margin: 50px auto 0px auto;
    justify-content: center;
}
.register-page-label{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 100px;
}
.register-form{
    margin: 0 auto 20px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
}
.register-btn-in{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px auto;
    width: 36%;
}
.register-btn-in a{
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #d6d1d1;
}
.register-btn-up{
    position: relative;
    width: 20%;
    color: #eaeaea;
    font-weight: lighter;
    cursor: pointer;
    background-color: #1f2124;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 23px;
    height: 50px;
    transition: all .3s ease;
}
.register-btn-up:hover{
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: #383a3f;
}
.auth-field{
    margin: 20px 0;
}
.auth-field input{
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
    background-color: #1f2124;
}
.auth-field input:hover{
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 10px;
    background-color: #383a3f;
}